@using DemoExam.Blazor.Services.Basket
@inject IBasketService BasketService

@if (BasketService.GetProductAmount(Product) > 0)
{
    <div class="buttons_container">
        <button class="change-amount-button"
                @onclick="() => BasketService.RemoveProduct(Product)">
            <i class="oi oi-minus"></i>
        </button>
        <div class="number">@BasketService.GetProductAmount(Product)</div>
        <button class="change-amount-button"
                @onclick="() => BasketService.AddProduct(Product)">
            <i class="oi oi-plus"></i>
        </button>
    </div>
}
else
{
    <button class="btn btn-outline-primary" @onclick="() => BasketService.AddProduct(Product)">
        В корзину
    </button>
}


@code {

    [Parameter]
    public ProductDto Product { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        BasketService.BasketContentChanged += StateHasChanged;
    }

}

