@using DemoExam.Blazor.Services.Basket
@inject IBasketService BasketService

@if (BasketService.TotalProductsCount > 0)
{
    <a href="#" class="btn btn-primary fab d-flex align-items-center justify-content-center">
        <i class="oi oi-basket" style="font-size: 35px"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @BasketService.TotalProductsCount
        </span>
    </a>
}

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        BasketService.BasketContentChanged += StateHasChanged;
    }

}