@using DemoExam.Blazor.Shared.Dto.Responses
<tr>
    <th scope="row" @onclick="OnOrderClick">
        Заказ №@Order.Id
    </th>
    <td>@Order.Status</td>
    <td>@Order.DeliveryDate</td>
    <td>@Order.PickupPoint</td>
    <td>@Order.GetCode</td>
</tr>

@code
{
    [Parameter]
    public OrderShort Order { get; set; } = default!;

    [Parameter]
    public Func<int, Task> OnOrderClickCallback { get; set; } = default!;


    private Task OnOrderClick() => OnOrderClickCallback(Order.Id);
}
