@using DemoExam.Blazor.Services.Basket
@inject IBasketService BasketService

<div class="card shadow">
    <a href="/catalog/@Product.ProductArticleNumber">
        <img class="card-img-top" src="@ImageSource" alt=""/>
    </a>
    <div class="card-body">
        <h5 class="card-title">@Product.ProductName</h5>
        <p class="card-text">@Product.ProductDescription</p>
        <div class="add-panel">
            <p class="card-text price d-block">@Product.ProductCost руб.</p>
            <AddToBasketPanel Product="Product"/>
        </div>
    </div>
</div>

@code {

    private string ImageSource => $"data:image/jpg;base64, {Product.ProductPhoto}";

    [Parameter]
    public ProductDto Product { get; set; } = default!;

}