@page "/"

<PageTitle>Главная</PageTitle>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Рады приветствовать вас на сайте ООО "Поваренок". Здесь вы сможете найти любой кухонный товар который вам может
        понадобиться. Скорее смотри <a href="/catalog">каталог</a></p>
</div>